[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
scipy = "*"
torch = ">=1.8"
torchaudio = ">0.9"
audio2numpy = "*"
transformers = "*"
tokenizers = "*"
requests = "*"
ffmpeg = "*"

[dev-packages]

[requires]
python_version = "3.8"
